<div class="panel panel-default" style="margin-bottom: 50px;" id="head">

    <div class="form-heading">
      <div class="wave">
        <div>
            <div class="pull-left">
                <span class="step">&nbsp;</span><br/>
                <span class="step-name">THE NOMINEE</span>
            </div>
            <!-- Use For Regional -->
            <div class="pull-right right" ng-if="authLevel === 1">
                <button type="button" class="btn btn-approve" ng-click="approve()"><i class="fa fa-check pull-left"></i> 
                  <span>{{(nomineeModel.nomStatus === 'Approved') ? 'UNDO APPROVED' : 'APPROVE'}}</span>
                </button>
                <button type="button" class="btn btn-deny" ng-click="deny()"><i class="fa fa-close pull-left"></i> 
                <span>{{(nomineeModel.nomStatus === 'Denied') ? 'UNDO DENY' : 'DENY'}}</span>
                </button>
            </div>
            <!-- Use For Worldwide -->
            <div class="pull-right right" ng-if="authLevel === 2">
                <button type="button" ng-class="{'btn btn-winner' : nomineeModel.nomStatus === 'Approved',  'btn btn-approve' : nomineeModel.nomStatus === 'Denied' || nomineeModel.nomStatus === 'Awaiting Approval'}" ng-click="winner()"><i class="fa fa-trophy pull-left"></i> 
                <span>{{(nomineeModel.winner) ? 'UNDO MAKE WINNER' : 'MAKE WINNER'}}</span>
                </button>
            </div>
        </div>
            
      </div>
    </div>

    <div class="panel-body">
      <div class="container form">
        
        <div class="row">
          <div class="col-md-3 detail">
            {{nomineeModel.salutation.name}}
          </div>
          <!-- Regional -->
          <div class="col-md-8" style="text-align:right" ng-if="authLevel === 1">
            <span ng-show="nomineeModel.nomStatus === 'Approved'" class="approved-text larger"><i class="fa fa-check"></i> Approved by Regional Manager</span>
            <span ng-show="nomineeModel.nomStatus === 'Denied'" class="denied-text larger"><i class="fa fa-close"></i> Denied by Regional Manager</span>
            <div class="alert alert-danger" role="alert" style="text-align:center" ng-show="actionError">{{alert.msg}}</div>
          </div>
          <!-- Worldwide -->
          <div class="col-md-8" style="text-align:right" ng-if="authLevel === 2">

          <span ng-switch on="nomineeModel.winner">
            <span ng-switch-when="false">
              <span ng-switch on="nomineeModel.nomStatus">
                <span class="approved-text larger" ng-switch-when="Approved"><i class="fa fa-check"></i> Approved by Regional Manager</span>
                <span class="denied-text larger" ng-switch-when="Denied"><i class="fa fa-close"></i> Denied by Regional Manager</span>
              </span>
            </span>
            <span ng-switch-when="true">
              <span class="winner-text larger"><i class="fa fa-trophy"></i> Made Winner by Worldwide Manager</span>
            </span>
          </span>
              
            
            
          </div>
        </div>

        <div class="row" style="margin-top:0;">
          <div class="col-md-12 detail">
            <h1>{{nomineeModel.first}} {{nomineeModel.last}}</h1>
            {{nomineeModel.title.name}}
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 detail">
            Nominee's Employee Number<br/>
            <span>{{nomineeModel.number}}</span>
          </div>
          <div class="col-md-6 detail">
            Sales Organization<br/>
            <span>{{nomineeModel.so.name}}</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 detail">
            Region<br/>
            <span>{{nomineeModel.region.name}}</span>
          </div>
          <div class="col-md-6 detail">
            Work Country<br/>
            <span>{{nomineeModel.country.name}}</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 detail">
            Work Address<br/>
            <span>{{nomineeModel.address}}</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 detail">
            Office Phone Number<br/>
            <span>{{formatPhone(nomineeModel.officeTel)}}</span>
          </div>
          <div class="col-md-6 detail">
            Mobile Phone Number<br/>
            <span>{{formatPhone(nomineeModel.mobileTel)}}</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 detail">
            Email Address<br/>
            <span>{{nomineeModel.email | lowercase}}</span>
          </div>
        </div>

        <div class="gray-container">
          <div class="row">
            <div class="col-md-6 detail">
              Fiscal Year Sales Quota<br/>
              <span>{{nomineeModel.performance.salesQuota | currency}}</span>
            </div>
            <div class="col-md-6 detail padding-left-50">
              Actual Fiscal Year Sales<br/>
              <span>{{nomineeModel.performance.sales | currency}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 detail">
              Percent Sales Quota<br/>
              <span>{{nomineeModel.performance.percentOver}}%</span>
            </div>
            <div class="col-md-6 detail padding-left-50">
              Previous Year Percent of Quota<br/>
              <span>{{nomineeModel.performance.percentLast}}%</span>
            </div>
          </div>
        </div>
          
        <div class="row">
          <div class="col-md-11 detail">
            Sales Performance/Results<br/>
            <div class="comment">{{nomineeModel.comments.performance}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-11 detail">
            Sales and Planning Skills<br/>
            <div class="comment">{{nomineeModel.comments.planning}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-11 detail">
            Customer Relationship and Loyalty<br/>
            <div class="comment">{{nomineeModel.comments.relationship}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-11 detail">
            One Agilent Behavior<br/>
            <div class="comment">{{nomineeModel.comments.behavior}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-11 detail">
            Leadership/Role Model<br/>
            <div class="comment">{{nomineeModel.comments.leadership}}</div>
          </div>
        </div>

        <div class="gray-container">
          <div class="row">
            <div class="col-md-4 detail">
              Nominator<br/>
              <span>{{nomineeModel.nominator.first}} {{nomineeModel.nominator.last}}</span>
            </div>
            <div class="col-md-4 detail">
              Nominator's email address<br/>
              <span>{{nomineeModel.nominator.email | lowercase}}</span>
            </div>
            <div class="col-md-4 detail">
              Work Phone Number<br/>
              <span>{{formatPhone(nomineeModel.nominator.phone)}}</span>
            </div>
          </div>
        </div>

      </div>
    </div>

</div>
<div class="container" style="text-align:center;">
    <a ng-click="scrollTo('head')"><i class="fa fa-chevron-up fa-2x"></i><br/> Back To Top</a>
</div>