<div class="container heading phone-hidden">
    <div>
        <h4>
            WELCOME TO THE 2015 NOMINATIONS PROCESS FOR
        </h4>
        <br/>
        <h1>
            THE PRESIDENT'S CLUB
        </h1>
    </div>
    <div class="lead">HONOLULU, HAWAII
        <div class="seal"></div> THE KAHALA RESORT</div>
</div>
<div class="panel panel-default">
    <div class="form-heading">
        <div class="wave">
            <div>
                <div class="pull-right"></div>
                <span class="step"></span>
                <br/>
                <span class="step-name">THE AWARD</span>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="container">
            <div class="row">
                <div class="col col-md-11 col-xs-11">
                    <div class="info">
                        <p class="heading">
                            The 2015 President’s Club will be at the Kahala Resort & Hotel in Oahu March 1-5, 2016
                        </p>
                        <p class="normal">
                            The President’s Club is a special event recognizing top performance in sales by honoring the top 3-4% of all sales quota carrying employees. The CEO and executive staff hosts the winners and one guest for a special 5 days in Hawaii where the winner will be recognized in several events as well as many special activities.
                        </p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-4 col-xs-4">
                    <div class="info">
                        <p class="heading">
                            TIMELINE
                        </p>
                        <div>
                            <div class="pull-left">
                                <div class="timeline"></div>
                            </div>
                            <div class="pull-left">
                                <ul class="none">
                                    <li>
                                        NOVEMBER 3, 2015
                                        <br/> <span class="detail">NOMINATIONS OPEN</span>
                                    </li>
                                    <li>
                                        NOVEMBER 19, 2015
                                        <br/> <span class="detail">NOMINATIONS CLOSE</span>
                                    </li>
                                    <li>
                                        NOVEMBER 24, 2016
                                        <br/> <span class="detail">APPROVALS DUE</span>
                                    </li>
                                    <li>
                                        DECEMBER 4, 2016
                                        <br/> <span class="detail">WINNERS SELECTED</span>
                                    </li>
                                    <li>
                                        DECEMBER 9, 2015
                                        <br/> <span class="detail">WINNERS ANNOUNCED</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-md-7 col-xs-7">
                    <div class="info">
                        <p class="heading">
                            SELECTION PROCESS
                        </p>
                        <p class="normal">
                            The 2015 Nominations will begin November 3 and be open through 6:00pm PST on November 19. At that time, nominations will close and then regional sales management will review and submit their selections by 6:00pm PST on November 24. Then the Global Sales Managers will select the final winners for the respective sales organizations by 6:00pm PST on December 4. Mike McMullen, the CEO, will review and announce the 2015 President’s Club winners in mid December.
                        </p>
                        <br/>
                        <br/>
                        <button type="button" class="btn" ng-click="next()">MAKE A NOMINATION</button>
                    </div>
                </div>
            </div>
            <div class="form-heading">
                <div class="wave" style="margin-left: -31px;">
                    <div>
                        <div class="pull-right"></div>
                        <span class="step"></span>
                        <br/>
                        <span class="step-name">ELIGIBILITY REQUIREMENTS</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-11 col-xs-11">
                    <div class="info">
                        <p class="normal" style="margin-top: 30px;">
                            Eligible employees must be in the sales value chain and be considered quota carrying personnel. This includes employees in Sales, Sales Management (operating/integrating level) and Application Resources. In 2015, there will a total of 42 winners selected – 33 from LSAG/ACG Sales and 9 from DGG Sales. Eligible employees should exceed expectations in the following areas:
                        </p>
                        <ul>
                            <li>
                                <span class="heading">Sales Results</span>
                                <br/> A consistent track record of Over Quota Achievement. Winner must be at least 100% of target quota. Consistent results in gainintg market share in their assigned territory.
                            </li>
                            <li>
                                <span class="heading">Sales & Planning Skills</span>
                                <br/> Forecasting, territory management, sales process and resource management.
                            </li>
                            <li>
                                <span class="heading">Customer Relationship and Loyalty</span>
                                <br/> Skillfully manages and establishes the needed customer relationships driving preference and loyalty for Agilent.
                            </li>
                            <li>
                                <span class="heading">One Agilent Behavior</span>
                                <br/> Excellence in teamwork and disciplined collaboration.
                            </li>
                            <li>
                                <span class="heading">Leadership/Role Model</span>
                                <br/> Demonstrated leader in the sales organization coaching and helping team members.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
