<div class="container heading" id="head">
        <h1>THE PRESIDENT'S CLUB</h1>
        <h2>2015 NOMINEES FOR {{region | uppercase}}</h2>
</div>

<div class="alert alert-danger" role="alert" ng-show="regionError">No Region Was Specified!</div>

<div class="panel panel-default" style="margin-bottom: 50px;">
    <div class="panel-heading" style="background-color:#F5F3E3;color:#d3a907;font-size:0.8em;">
        <div class="row">
            <div class="col col-md-4">
                NOMINEE
            </div>
            <div class="col col-md-2">
                NOMINATOR
            </div>
            <div class="col col-md-2">
                REGION
            </div>
            <div class="col col-md-2">
                STATUS
            </div>
            <div class="col col-md-2">
                
            </div>
        </div>
    </div>
    <div class="panel-body tight">
        <div class="row" ng-class="{'underline' : !$last}" ng-repeat="nominee in nomineesModel | filter:region:true">
            <div class="col col-md-4">
                <p><span class="listName"><a ng-click="edit(nominee.id)">{{nominee.first}} {{nominee.last}}</a></span><br/>
                <span class="listTitle">{{nominee.title.name}}</span></p>
            </div>
            <div class="col col-md-2">
                <p class="smaller">{{nominee.nominator.first}} {{nominee.nominator.last}}</p>
            </div>
            <div class="col col-md-2">
                <p class="smaller">{{nominee.region.name}}</p>
            </div>
            <!-- Regional -->
            <div ng-if="!nominee.winner" class="col col-md-2 gray-col" ng-style="myColor={color:(nominee.nomStatus === 'Denied') ? '#CA4045' : 
                                                        (nominee.nomStatus === 'Approved') ? '#d3a907' : '#ccc'}">
                <p class="smaller"><i ng-show="nominee.nomStatus" ng-class="{'fa fa-check' : nominee.nomStatus === 'Approved', 'fa fa-close' : nominee.nomStatus === 'Denied'}"></i> 
                {{nominee.nomStatus ? nominee.nomStatus : 'Awaiting Approval'}}</p>
              
            </div>
            <!-- Worldwide -->
            <div ng-if="nominee.winner" class="col col-md-2 green-col">
                <p class="winner-text smaller"><i class="fa fa-trophy"></i> WINNER</p>
            </div>
            <div class="col col-md-2" style="text-align:center;">
                <p><button type="button" class="btn btn-review" ng-click="detail(nominee.id)">REVIEW</button></p>
            </div>
        </div>
    </div>
</div>
<div class="container" style="text-align:center;">
    <a ng-click="scrollTo('head')"><i class="fa fa-chevron-up fa-2x"></i><br/> Back To Top</a>
</div>
