<div class="container heading">
        <h1>THE PRESIDENT'S CLUB</h1>
        <h2>2015 NOMINEES</h2>
</div>
<div class="panel panel-default">
    <div class="panel-heading" style="background-color:#F5F3E3;color:#d3a907;font-size:0.8em;">
        <div class="row">
            <div class="col col-md-4">
                NOMINEE
            </div>
            <div class="col col-md-3">
                NOMINATOR
            </div>
            <div class="col col-md-3">
                STATUS
            </div>
            <div class="col col-md-2">
                
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row padding-top-30 padding-bottom-30" ng-class="{'underline' : !$last}" ng-repeat="nominee in nomineesModel">
            <div class="col col-md-4">
                <span class="listName"><a ng-click="edit(nominee.id)">{{nominee.first}} {{nominee.last}}</a></span><br/>
                <span class="listTitle">{{nominee.title.name}}</span>
            </div>
            <div class="col col-md-3">
                {{nominee.nominator.first}} {{nominee.nominator.last}}
            </div>
            <div class="col col-md-3" ng-style="myColor={color:(nominee.nomStatus === 'Denied') ? '#CA4045' : 
                                                        (nominee.nomStatus === 'Approved') ? '#00B601' : '#ccc'}">
                <i ng-show="nominee.nomStatus" ng-class="{'fa fa-check' : nominee.nomStatus === 'Approved', 'fa fa-close' : nominee.nomStatus === 'Denied'}"></i> {{nominee.nomStatus ? nominee.nomStatus : 'Awaiting Approval'}}
              
            </div>
            <div class="col col-md-2" style="text-align:center;">
                <button type="button" class="btn btn-review" ng-click="detail(nominee.id)">REVIEW</button>
            </div>
        </div>
    </div>
</div>
