<div class="container heading" style="width:700px;">
    <p class="lead">
        <img src="../images/seal.4a53f1b6.png">
        <p class="lead">
            THE PRESIDENT'S CLUB
        </p>
        <h1>2015 NOMINEES</h1>
    </p>
    <p class="margin-top-30">
        Curabitur blandit tempus porttitor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam quis risus eget urna mollis ornare vel eu leo.
    </p>
</div>
<div class="panel panel-default">
    <div class="panel-heading" style="background-color:#F5F3E3;color:#d3a907;font-size:0.8em;">
        <div class="row">
            <div class="col col-md-4">
                NOMINEE
            </div>
            <div class="col col-md-3">
                NOMINATOR
            </div>
            <div class="col col-md-3">
                STATUS
            </div>
            <div class="col col-md-2">
                
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row padding-top-30 padding-bottom-30" ng-class="{'underline' : !$last}" ng-repeat="nomineeModel in nomineeModels">
            <div class="col col-md-4">
                <span class="listName"><a ng-click="edit(nomineeModel.id)">{{nomineeModel.get('first')}} {{nomineeModel.get('last')}}</a></span><br/>
                <span class="listTitle">{{nomineeModel.get('title').name}}</span>
            </div>
            <div class="col col-md-3">
                {{nomineeModel.get('nominator').first}} {{nomineeModel.get('nominator').last}}
            </div>
            <div class="col col-md-3" ng-style="myColor={color:(nomineeModel.get('nomStatus') === 'Denied') ? '#CA4045' : 
                                                        (nomineeModel.get('nomStatus') === 'Approved') ? '#d3a907' : '#ccc'}">
                {{nomineeModel.get('nomStatus') ? nomineeModel.get('nomStatus') : 'Awaiting Approval'}}
              
            </div>
            <div class="col col-md-2" style="text-align:center;">
                <button type="button" class="btn btn-review" ng-click="detail(nomineeModel.id)">REVIEW</button>
            </div>
        </div>
    </div>
</div>
