<div class="container heading" style="width:700px;">
    <div>
        <h4>
            WELCOME TO THE 2015 NOMINATIONS PROCESS FOR
        </h4><br/>
        <h1>
            THE PRESIDENT'S CLUB
        </h1>
    </div>
        
    <div class="lead">HONOLULU, HAWAII <div class="seal"></div> THE KAHALA RESORT</div>
    <p ng-show="globals.loader.show" class="loader">
        Signing in...
    </p>
</div>
<div class="container login margin-top-30" style="width:700px;" ng-hide="globals.loader.show">
    <form name="userForm" ng-submit="tryLogin()" novalidate>
        <div class="row" ng-show="loginError">
            <div class="col col-md-3"></div>
            <div class="col col-md-6">
                <div class="alert alert-danger" role="alert">{{alert.msg}}</div>
            </div>
            <div class="col col-md-3"></div>
        </div>
        <div class="row">
            <div class="col col-md-3"></div>
            <div class="col col-md-6" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }">
                <input type="text" name="username" class="form-control required" placeholder="Agilent User ID (i.e. John_Smith" ng-model="loginCredentials.username" required>
                <p ng-show="userForm.username.$invalid && !userForm.username.$pristine" class="error">Username is required.</p>
            </div>
            <div class="col col-md-3"></div>
        </div>
        <div class="row">
            <div class="col col-md-3"></div>
            <div class="col col-md-6" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
                <input type="password" name="password" class="form-control required" placeholder="password" ng-model="loginCredentials.password" required>
                <p ng-show="userForm.password.$invalid && !userForm.password.$pristine" class="error">Password is required.</p>
            </div>
            <div class="col col-md-3"></div>
        </div>
        <div class="row">
            <div class="col col-md-3"></div>
            <div class="col col-md-6">
                <button type="submit" class="btn btn-primary light btn-lg btn-block" ng-disabled="userForm.$invalid">SIGN IN</button>
            </div>
            <div class="col col-md-3"></div>
        </div>
    </form>
</div>
