<div class="panel panel-default margin-top-30">
    <div class="form-heading">
        <div class="wave">
            <div>
                <div class="pull-right">* <span class="required">DENOTES REQUIRED FIELD</span></div>
                <span class="step">STEP 1</span>
                <br/>
                <span class="step-name">THE NOMINEE</span>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="container form">
            <div class="row">
                <div class="col col-md-11 col-xs-11">
                    <p>
                        As sales management you will be the starting point and important part of the nomination process. We ask that you fill out the nomination form with the needed facts and details for your nominee(s). Please fill out all fields. Your region and global sales managers will use the information you provide to the President’s Club Winners. You will find that the fields are limited so please be brief and objective as you fill out the form.
                    </p>
                </div>
            </div>
            <!-- NOMINEE ENTRY -->
            <form name="userForm" ng-submit="next('performance')" novalidate>
                <div class="row">
                    <div class="col col-md-3 col-xs-4" ng-class="{ 'has-error' : userForm.number.$invalid && !userForm.number.$pristine }">
                        <span class="asterisk">*</span> Nominee's Employee Number
                        <input type="text" name="number" class="form-control required" ng-maxlength="8" maxlength="8" placeholder="" ng-model="nomineeModel.number" required>
                        <p ng-show="userForm.number.$invalid && !userForm.number.$pristine" class="error">8-digit Employee number is required.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-3 col-xs-4">
                        <span class="asterisk">*</span> Sales Organization
                        <select class="form-control required" name="salesOrg" ng-model="nomineeModel.salesOrg" ng-options="item.name for item in salesOrg track by item.id" required>
                            <option value="">Choose</option>
                        </select>
                        <p ng-show="userForm.salesOrg.$invalid && !userForm.salesOrg.$pristine" class="error">Sales organization is required.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-3 col-xs-4">
                        <span class="asterisk">*</span> Region
                        <select class="form-control required" name="region" ng-model="nomineeModel.region" ng-options="item.name for item in regions track by item.id" required>
                            <option value="">Choose</option>
                        </select>
                        <p ng-show="userForm.region.$invalid && !userForm.region.$pristine" class="error">Region is required.</p>
                    </div>
                    <div class="col col-md-3 col-xs-4">
                        <span class="asterisk">*</span> Work Country
                        <select class="form-control required" name="country" ng-model="nomineeModel.country" ng-options="item.name for item in countries track by item.id" required>
                            <option value="">Choose</option>
                        </select>
                        <p ng-show="userForm.country.$invalid && !userForm.country.$pristine" class="error">Work country is required.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-3 col-xs-4">
                        <span class="asterisk">*</span> Salutation
                        <select class="form-control required" name="salutation" ng-model="nomineeModel.salutation" ng-options="item.name for item in salutations track by item.id" required>
                            <option value="">Choose</option>
                        </select>
                        <p ng-show="userForm.salutation.$invalid && !userForm.salutation.$pristine" class="error">Salutation is required.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-3 col-xs-4" ng-class="{ 'has-error' : userForm.first.$invalid && !userForm.first.$pristine }">
                        <span class="asterisk">*</span> First Name
                        <input type="text" name="first" class="form-control required" placeholder="" ng-model="nomineeModel.first" required>
                        <p ng-show="userForm.first.$invalid && !userForm.first.$pristine" class="error">First name is required.</p>
                    </div>
                    <div class="col col-md-3 col-xs-4" ng-class="{ 'has-error' : userForm.last.$invalid && !userForm.last.$pristine }">
                        <span class="asterisk">*</span> Family/Last Name
                        <input type="text" name="last" class="form-control required" placeholder="" ng-model="nomineeModel.last" required>
                        <p ng-show="userForm.last.$invalid && !userForm.last.$pristine" class="error">Last name is required.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-6 col-xs-8" ng-class="{ 'has-error' : userForm.address.$invalid && !userForm.address.$pristine }">
                        <span class="asterisk">*</span> Work Address
                        <input type="text" name="address" class="form-control required" placeholder="" ng-model="nomineeModel.address" required>
                        <p ng-show="userForm.address.$invalid && !userForm.address.$pristine" class="error">Address is required.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-3 col-xs-4">
                        <span class="asterisk">*</span> Office Phone Number
                        <input class="form-control ng-pristine ng-untouched ng-valid" id="phone" name="phone" ui-mask="(999) 999-9999" ng-model="nomineeModel.officeTel" placeholder="" ui-mask-placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-3 col-xs-4">
                        <span class="asterisk">*</span> Mobile Phone Number
                        <input class="form-control ng-pristine ng-untouched ng-valid" id="mobile" name="mobile" ui-mask="(999) 999-9999" ng-model="nomineeModel.mobileTel" placeholder="" ui-mask-placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-3 col-xs-4" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                        <span class="asterisk">*</span> Email
                        <input type="email" name="email" class="form-control required" placeholder="" ng-model="nomineeModel.email" required>
                        <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="error">Email is required.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-3 col-xs-4">
                        <span class="asterisk">*</span> Nominee's Position/Title
                        <select class="form-control required" name="title" ng-model="nomineeModel.title" ng-options="item.name for item in titles track by item.id" required>
                            <option value="">Choose</option>
                        </select>
                        <p ng-show="userForm.title.$invalid && !userForm.title.$pristine" class="error">Title is required.</p>
                    </div>
                </div>
                <hr/>
                <!-- NOMINATOR'S MANAGER CHECKBOX 
                
                <div class="row">
                    <div class="col col-md-4">
                        <span class="asterisk">*</span> Are you the nominee's direct manager?
                        <br/>
                        <label>
                            <input type="checkbox" ng-model="nomineeModel.nominatedByManager" ng-true-value="'Yes'" ng-false-value="'No'"> Yes
                        </label>
                    </div>
                </div>
                <hr/> 
                -->
                <!-- NOMINATOR'S FORM -->
                <!-- <div class="row">
                    <div class="col col-md-3 col-xs-4" ng-class="{ 'has-error' : userForm.nomFirst.$invalid && !userForm.nomFirst.$pristine }">
                        <span class="asterisk">*</span> Nominator's First Name
                        <input type="text" name="nomFirst" class="form-control required" placeholder="" ng-model="nomineeModel.nominator.nom_first" required>
                        <p ng-show="userForm.nomFirst.$invalid && !userForm.nomFirst.$pristine" class="error">First name is required.</p>
                    </div>
                    <div class="col col-md-3 col-xs-4" ng-class="{ 'has-error' : userForm.nlast.$invalid && !userForm.nlast.$pristine }">
                        <span class="asterisk">*</span> Nominator's Family/Last Name
                        <input type="text" name="nlast" class="form-control required" placeholder="" ng-model="nomineeModel.nominator.nom_last" required>
                        <p ng-show="userForm.nlast.$invalid && !userForm.nlast.$pristine" class="error">Last name is required.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-3 col-xs-4" ng-class="{ 'has-error' : userForm.nomEmail.$invalid && !userForm.nomEmail.$pristine }">
                        <span class="asterisk">*</span> Nominator's Email
                        <input type="email" name="nomEmail" class="form-control required" placeholder="" ng-model="nomineeModel.nominator.nom_email" required>
                        <p ng-show="userForm.nomEmail.$invalid && !userForm.nomEmail.$pristine" class="error">Email is required.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-3 col-xs-4" ng-class="{ 'has-error' : userForm.nomPhone.$invalid && !userForm.nomPhone.$pristine }">
                        <span class="asterisk">*</span> Nominator's Phone Number
                        <input type="phone" name="nomPhone" class="form-control required" placeholder="" ng-model="nomineeModel.nominator.nom_phone" ui-mask="(999) 999-9999" required>
                        <p ng-show="userForm.nomPhone.$invalid && !userForm.nomPhone.$pristine" class="error">Phone is required.</p>
                    </div>
                </div>
                <hr/> -->
                <button type="submit" class="btn btn-form" ng-disabled="userForm.$invalid">NEXT STEP <i class="fa fa-angle-right fa-lg padding-left-20"></i></button>
            </form>
        </div>
    </div>
</div>
